.classpath
.metadata
.project
.settings
.idea
.ideaModules
.repository
*.iml
.springBeans
.externalToolBuilders
*.bak
*local.properties
target
test-output
Servers
*.log
*.log.*
*.dat
_sql
service-log4j.log.*
*.orig
*.dmp
*/bin/
.ssh/
.gitk
.gitconfig
.pmd
*.DS_Store
*.checkstyle
_viminfo
*~
devnull
